body{
    background-color: rgb(59, 59, 59);
}
.container{
    background-color: #fff;
       
}

h1 , h2{
    color: blue;
}
h2{
    font-size: 20px;
    font-weight:bold;
}
h3{
    font-size:16px;
    font-weight:bold;
}